<footer>
    <div class="socialMedias">
        <div class="redesocial whats"></div>
        <div class="redesocial face"></div>
        <div class="redesocial insta"></div>
        <div class="redesocial youtube"></div>
    </div>
    <div class="links">
        <div class="link">
            <a href="#">
                <div class="logo">
                    <h2>Mania Game</h2>
                </div>
            </a>
            <a href="register.html">
                <div class="button">
                    <h2>Register</h2>
                </div>
            </a>
        </div>
        <div class="link">
            <a href="#">
                <h3>recursos</h3>
            </a>
            <a href="#">
                <h3>Blogs</h3>
            </a>
            <a href="#">
                <h3>privacidade</h3>
            </a>
        </div>
        <div class="link">
            <a href="#">
                <h3>sobre nós</h3>
            </a>
            <a href="#">
                <h3>stories</h3>
            </a>
            <a href="#">
                <h3>fale conosco</h3>
            </a>

        </div>
        <div class="link">
            <a href="#">
                <h3>central de ajuda</h3>
            </a>
            <a href="#">
                <h3>delivery</h3>
            </a>
            <a href="#">
                <h3>trabalhe conosco</h3>
            </a>

        </div>
    </div>
    <hr>
    <div class="hey">
        <p>2023 © ManiaGame</p>
        <p>Termos de Serviços</p>
    </div>
    
</footer>
