<header>
    <a [routerLink]="['/inicio']">
        <div class="logo">
            <h2>Mania Game</h2>
        </div>
    </a>
    <div>
        <nav class="menu-desktop"  >
            
                <a [routerLink]="['/loja']">
                    <li>loja</li>
                </a>
                <a [routerLink]="['/carrinho']">
                    <li>carrinho</li>
                </a>
                <a [routerLink]="['/registro']">
                    <div class="button">
                        <h2>Register</h2>
                    </div>
                </a>
           
        </nav>
        <nav class="menu-mobile" >
                <div class="openMenu">
                    <a routerLink="/#">
                        <li >loja</li>
                    </a>
                    <a routerLink="/#">
                        <li >carrinho</li>
                    </a>
                    <a [routerLink]="['/registro']">
                        <div class="button ">
                            <h2>Register</h2>
                        </div>
                    </a>
                </div>
        </nav>
    </div>
   </header>