<!-- <mat-toolbar> -->
    <!-- <mat-toolbar-row> -->
        <span>
            <a routerLink="/restrito/listar">Listar produtos</a>
        </span>
        <span>
            <a routerLink="/restrito/cadastro">Cadastrar produtos</a>
        </span>
        <span class="exemple-spacer">

        </span>
        <button mat-icon-button class="example-icon" aria-label="Example icon-butto share icon">
            <span class="material-icons">logout</span>
        </button>
    <!-- </mat-toolbar-row> -->
<!-- </mat-toolbar> -->
