table, thead, tbody{
    border: 1px solid black;
}
table{
    width: 80vw;
    margin: 0 auto;
    text-align: center;
}
a{
    text-decoration: none;
    color: black;
}
th{
    background-color: #eee;
}
.btn{
    padding: 1.5px 5px;
    border: 1px solid black;
    border-radius: 5px;
    width: 100%;
    font-weight: 800;
}
.btn-primary{
    background-color: coral;
    color: #fff;
}
.btn-danger{
    background-color: dodgerblue;
    color: #fff;
    
}