<div class="login">
    <div class="loginForm">
        <form>
            <p>E-mail</p>
            <input type="text" placeholder="youremail@email.domain">
            
            <p>Password</p>
            <input type="password" placeholder="*******">
            <br>
            <button><h2>lOGIN</h2></button>
        </form>
        <p>Você por acaso <a href="#">Esqueceu a sua senha?</a></p>
    </div>
</div>

<!-- .about photo 1 -->
<div class="about">
    <div class="photo1">

    </div>
    <div class="whatAbout1">
        <div class="title1">
            <h2>Title 1</h2>
        </div>
        <div class="content">
            <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Eligendi praesentium, ad nihil dignissimos quam, optio vero molestias in vel quidem totam blanditiis minima nesciunt eum harum consequatur veniam omnis quia.
            Et, sit ipsum? Culpa enim asperiores cupiditate aut at quod quidem. Repellendus eligendi id quis unde at, magni suscipit laudantium corrupti. Tenetur nobis rerum porro ipsam temporibus corrupti, eveniet magnam.</p>
        </div>
    </div>
   </div>
<!-- .about photo 2 -->
   <div class="about rev">
    <div class="photo2">
    </div>
       <div class="whatAbout2">
        <div class="title2">
            <h2>Title 2</h2>
        </div>
        <div class="content">
            <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Eligendi praesentium, ad nihil dignissimos quam, optio vero molestias in vel quidem totam blanditiis minima nesciunt eum harum consequatur veniam omnis quia.
            Et, sit ipsum? Culpa enim asperiores cupiditate aut at quod quidem. Repellendus eligendi id quis unde at, magni suscipit laudantium corrupti. Tenetur nobis rerum porro ipsam temporibus corrupti, eveniet magnam.</p>
        </div>   
        </div>
    
</div>


<div class="gamesList">
    <div class="game" id="gm1">
        <div class="gmTitle"><h2>Super Mario Bros</h2></div>
        <div class="gmDescription">
            <p>Lorem ipsum, dolor sit amet consectetur adipisicing elit. Perspiciatis repudiandae similique, nostrum maxime cum consequatur aliquid blanditiis porro numquam, quam unde nihil quibusdam esse quaerat commodi. Culpa odit blanditiis facere!</p>
        </div>
    </div>
    <div class="game" id="gm2">
        <div class="gmTitle"><h2>soccer</h2></div>
        <div class="gmDescription">
            <p>Lorem ipsum, dolor sit amet consectetur adipisicing elit. Perspiciatis repudiandae similique, nostrum maxime cum consequatur aliquid blanditiis porro numquam, quam unde nihil quibusdam esse quaerat commodi. Culpa odit blanditiis facere!</p>
        </div>
    </div>
    <div class="game" id="gm3">
        <div class="gmTitle"><h2>Cards</h2></div>
        <div class="gmDescription">
            <p>Lorem ipsum, dolor sit amet consectetur adipisicing elit. Perspiciatis repudiandae similique, nostrum maxime cum consequatur aliquid blanditiis porro numquam, quam unde nihil quibusdam esse quaerat commodi. Culpa odit blanditiis facere!</p>
        </div>
    </div>
    <div class="game" id="gm4">
        <div class="gmTitle"><h2>Chees</h2></div>
        <div class="gmDescription">
            <p>Lorem ipsum, dolor sit amet consectetur adipisicing elit. Perspiciatis repudiandae similique, nostrum maxime cum consequatur aliquid blanditiis porro numquam, quam unde nihil quibusdam esse quaerat commodi. Culpa odit blanditiis facere!</p>
        </div>
    </div>
</div>